/* estilos para el primer apartado */
#zero {
    width: 100%;
    height: 100%;
    padding: 30px 30px 30px 30px;
    margin: 30px 30px 30px 30px;
    font-size: 30px;
}
#p_zero {
    margin-top: 40px;
    color: #89C8C8;
    font-size: 90px;
}
#strong_zero {
    color: #000000;
    font-size: 40px;
}
/* estilos generales */
.s_one_six {
    display: flex;
    gap: 15px;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
}

.d_o_s {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    width: 50%;
    height: 50%;
}
h1 {
    color: #808080;
}

/* fin de estilos generales */

/* estilos para la primera sección */

.s_one_two{
    background-color: #F5EFF4;
}
#div_one {
    margin-bottom: 10px;
}
#div_two img {
    width: 100%;
    height: 100%;
}
#strong_one {
    font-size: 40px;
}
#h1_one {
    font-size: 60px;
}
#p_one {
    font-size: 30px;
}

/* fin de estilos para la primera seccion */

/* estilos para la segunda sección */

.s_three_four{
    background-color: #FAF5F3;
}
#div_four {
    margin-bottom: 20px;
}
#div_three img {
    width: 100%;
    height: 100%;
}
#strong_four {
    font-size: 40px;
}
#h1_four {
    font-size: 60px;
}
#p_four {
    font-size: 30px;
}

/* fin de estilos para la segunda sección */

/* estilos para la tercera sección */

.s_five_six{
    background-color: #F2F9F8;
}
#div_five {
    margin-bottom: 10px;
}
#div_six img {
    width: 100%;
    height: 100%;
}
#strong_five {
    font-size: 40px;
}
#h1_five {
    font-size: 60px;
}
#p_five {
    font-size: 30px;
}
#div_six img {
    width: 100%;
    height: 100%;
}

/* fin de estilos para la tercera sección */

/* estilos para la ultima sección */

.s_final {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: auto;
    background-color: #000000;
    font-size: 18px;
    color: #ffffff;
    flex-wrap: wrap;
    justify-content: space-between;
}

#div_seven {
    margin-top: 40px;
    font-size: 28px;
    flex-basis: 100%;
}

.d_final {
    flex-basis: 20%;
    line-height: 45px;
}
.d_final p {
    font-size: 16px;
}
.d_final p strong {
    font-size: 20px;
}

/* fin de estilos para la ultima sección */

/* estilos para la media query */
@media (min-width: 768px) {
    .s_one_six {
        display: block !important;
    }
    .d_o_s {
        width: 100% !important;
        height: auto !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .s_final {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }
    .d_final {
        flex: 0 0 48%;
    }
}