.zero {
    width: 100%;
    height: 100%;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    font-size: 30px;
}
#h1_zero {
    color: #89C8C8;
    font-size: 90px;
}

.s_one_two {
    display: flex;
    gap: 15px;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
}
.one_two {
    width: 50%;
    height: 50%;
}
#div_one {
    flex: 1;
}
#div_two img {
    width: 100%;
    height: 100%;
}
#strong_one {
    font-size: 40px;
}
#h1_one {
    font-size: 60px;
}
#p_one {
    font-size: 30px;
}

