.zero {
    width: 100%;
    height: 100%;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    font-size: 30px;
}
#h1_zero {
    color: #89C8C8;
    font-size: 90px;
}

#s_one_two{
    background-color: #F5EFF4;
}

#s_one_two{
    background-color: #FAF5F3;
}

section {
    display: flex;
    gap: 15px;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
}

div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    width: 50%;
    height: 50%;
}
h1 {
    color: #808080;
}

#div_one {
    margin-bottom: 10px;
}
#div_two img {
    width: 100%;
    height: 100%;
}
#strong_one {
    font-size: 40px;
}
#h1_one {
    font-size: 60px;
}
#p_one {
    font-size: 30px;
}

#div_four {
    margin-bottom: 20px;
}
#div_three img {
    width: 100%;
    height: 100%;
}
#strong_four {
    font-size: 40px;
}
#h1_four {
    font-size: 60px;
}
#p_four {
    font-size: 30px;
}