/* estilos para el primer apartado */
.zero {
    width: 100%;
    height: 100%;
    padding: 30px 30px 30px 30px;
    margin: 30px 30px 30px 30px;
    font-size: 30px;
}
#p_zero {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #89C8C8;
    font-size: 90px;
}
#strong_zero {
    color: #000000;
    font-size: 40px;
}
/* estilos generales */
.s_one_six {
    display: flex;
    gap: 15px;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
}

.d_o_s {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    width: 50%;
    height: 50%;
}
h1 {
    color: #808080;
}

/* fin de estilos generales */

/* estilos para la primera sección */

#s_one_two{
    background-color: #F5EFF4;
}
#div_one {
    margin-bottom: 10px;
}
#div_two img {
    width: 100%;
    height: 100%;
}
#strong_one {
    font-size: 40px;
}
#h1_one {
    font-size: 60px;
}
#p_one {
    font-size: 30px;
}

/* fin de estilos para la primera seccion */

/* estilos para la segunda sección */

#s_three_four{
    background-color: #FAF5F3;
}
#div_four {
    margin-bottom: 20px;
}
#div_three img {
    width: 100%;
    height: 100%;
}
#strong_four {
    font-size: 40px;
}
#h1_four {
    font-size: 60px;
}
#p_four {
    font-size: 30px;
}

/* fin de estilos para la segunda sección */

/* estilos para la tercera sección */

#s_five_six{
    background-color: #F2F9F8;
}
#div_five {
    margin-bottom: 10px;
}
#div_six img {
    width: 100%;
    height: 100%;
}
#strong_five {
    font-size: 40px;
}
#h1_five {
    font-size: 60px;
}
#p_five {
    font-size: 30px;
}
#div_six img {
    width: 100%;
    height: 100%;
}

/* fin de estilos para la tercera sección */

/* estilos para la ultima sección */

.s_final {
    display: flex;
    gap: 20px; /* Más espacio entre los elementos */
    padding: 20px;
    margin: auto; /* Centra horizontalmente */
    background-color: #000000;
    font-size: 18px;
    color: #ffffff;
    flex-wrap: wrap; /* Permite que los elementos se reubiquen automáticamente */
    justify-content: space-between; /* Distribuye los recuadros uniformemente */
}

#div_seven {
    font-size: 28px;
    flex-basis: 100%; /* Asegura que ocupe una fila completa */
}

.d_final {
    flex-basis: 20%; /* Tamaño relativo para ajustar mejor al 100% del contenedor */
    line-height: 45px;
}
.d_final p {
    font-size: 16px;
}
.d_final p strong {
    font-size: 20px;
}